<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{welcome}"></title>
</head>
<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center my-5">
			<form class="form-signin" th:action="@{/login}" method="post">
				<h1 class="text-center" th:text="#{login}"></h1>
				<div th:if="${param.error}" class="alert alert-danger shadow-lg" th:text="#{invalid.user.credentials}"></div>
	            <div th:if="${param.logout}" class="alert alert-success shadow-lg" th:text="#{logout}"></div>
				<p><input class="form-control shadow-lg" id="username" name="username" th:placeholder="#{user.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required></p>
				<p><input class="form-control shadow-lg" type="password" id="password" name="password" th:placeholder="#{user.password}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required></p>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<button type="submit" class="btn btn-lg btn-block btn-primary shadow-lg" th:text="#{application.login}"></button>
			</form>
		</div>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>
