<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{application.error(${statusCode})}"></title>
</head>
<body>
	<div class="alert alert-danger alert-danger-centered">
		<h1 class="alert-heading" th:text="#{application.error(${statusCode})}"></h1>
		<hr>
		<p th:text="${errorMessage}"></p>
	</div>
	<a class="mx-3" href="javascript:history.back()" th:text="#{action.back}"></a>
</body>
</html>