<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<div th:replace="contents/navbar.html :: navbar"></div>
	<div class="container px-5 py-5 mx-5 my-5">
		<h4 th:text="#{user.name} + ': ' + ${#authentication.name}"></h4>
		<h4 th:text="#{user.role} + ': ' + ${#authentication.authorities}"></h4>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/lokalisierung.js}" type="text/javascript"></script>
</body>
</html>