<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/applicationStyle.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow-lg" style="background-color: navy; min-height: 4rem;">
		<a class="navbar-brand" th:href="@{/home}" th:text="#{school.diary}"></a>
		<button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
   			<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id=navbar>
			<div sec:authorize="hasRole('ADMIN')">
				<div class="navbar-nav mr-auto">
	      			<a class="nav-item nav-link" th:href="@{/benutzer}" th:text="#{user}"></a>
	      			<a class="nav-item nav-link" th:href="@{/schuler}" th:text="#{student}"></a>
	      			<a class="nav-item nav-link" th:href="@{/lehrer}" th:text="#{teacher}"></a>
	      			<a class="nav-item nav-link" th:href="@{/elternteil}" th:text="#{parent}"></a>
		      		<a class="nav-item nav-link" th:href="@{/klasse}" th:text="#{class}"></a>
		      		<a class="nav-item nav-link" th:href="@{/schulstunde}" th:text="#{course}"></a>
		      		<a class="nav-item nav-link" th:href="@{/schulfach}" th:text="#{subject}"></a>
				</div>
	    	</div>
			<div sec:authorize="hasRole('SCHULER')">
				<div class="navbar-nav">
				</div>
			</div>
			<div sec:authorize="hasRole('LEHRER')">
				<div class="navbar-nav">
				</div>
			</div>
			<div sec:authorize="hasRole('ELTERNTEIL')">
				<div class="navbar-nav">
				</div>
			</div>
  		</div>
  		<div class="dropdown">
  			<a class="nav-link dropdown-toggle mr-md-2" href="#" id="userOptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  			<span sec:authentication="name"></span>
	  		</a>
	  		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptions">
	        	<a class="dropdown-item" th:href="@{/info}" th:text="#{user.info}"></a>
	        	<div class="dropdown-divider"></div>
	        	<a class="dropdown-item" th:href="@{/logout}" th:text="#{application.logout}"></a>
	        </div>
  		</div>
	</nav>
	<div class="container px-5 py-5 mx-5 my-5">
		<h4><span th:text="#{user.name} + ': '"></span><span sec:authentication="name"></span></h4>
		<h4><span th:text="#{user.role} + ': '"></span><span sec:authentication="authorities"></span></h4>
	</div>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>