<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark shadow-lg" style="background-color: navy; min-height: 4rem;">
		<a class="navbar-brand" th:href="@{/home}" th:text="#{school.diary}"></a>
		<button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#adminNavbar" aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="adminNavbar">
    		<div class="navbar-nav mr-auto">
	     		<a class="nav-item nav-link" th:href="@{/benutzer}" th:text="#{user}"></a>
      			<a class="nav-item nav-link" th:href="@{/schuler}" th:text="#{student}"></a>
      			<a class="nav-item nav-link active" th:href="@{/lehrer}" th:text="#{teacher}"></a>
      			<a class="nav-item nav-link" th:href="@{/elternteil}" th:text="#{parent}"></a>
	      		<a class="nav-item nav-link" th:href="@{/klasse}" th:text="#{class}"></a>
	      		<a class="nav-item nav-link" th:href="@{/schulstunde}" th:text="#{course}"></a>
	      		<a class="nav-item nav-link" th:href="@{/schulfach}" th:text="#{subject}"></a>
			</div>
  		</div>
  		<div class="btn-group btn-group-sm" role="group">
			<button class="btn btn-outline-primary" th:text="#{lang.de}" onclick="setDeutsch()"></button>
			<button class="btn btn-outline-primary" th:text="#{lang.eng}" onclick="setEnglisch()"></button>
  		</div>
  		<div class="dropdown">
 			<a class="nav-link dropdown-toggle mr-md-2" href="#" id="userOptions" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  				<span sec:authentication="name"></span>
  			</a>
  			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userOptions">
	        	<a class="dropdown-item" th:href="@{/info}" th:text="#{user.info}"></a>
	        	<div class="dropdown-divider"></div>
	        	<a class="dropdown-item" th:href="@{/logout}" th:text="#{application.logout}"></a>
	        </div>
 		</div>
	</nav>
	<h1 class="text-center my-5" th:text="#{teachers}"></h1>
	
	<div class="table-responsive">
		<table class="table table-bordered table-striped mx-auto mb-5 w-50 shadow">
	        <thead class="thead-dark">
		    	<tr>
		        	<th scope="col" th:text="#{id}">
	            	<th scope="col" th:text="#{name}">
	            	<th scope="col" th:text="#{pin}">
		            <th scope="col" th:text="#{subjects}">
		            <th scope="col" th:text="#{user.name}">
	            	<th scope="col" th:text="#{options}">
		        </tr>
	        </thead>
	        <tr th:each="lehrer: ${listLehrer}">
	            <th scope="row" th:text="${lehrer.id}" />
	            <td th:text="${lehrer.name}" />
	            <td th:text="${lehrer.pinKennzeichen}" />
	            <td style="white-space: pre;" th:text="${lehrer.schulfaecherKennzeichen}" />
	            <td th:text="${lehrer.benutzernameKennzeichen}">
	            <td>
	            	<a th:href="@{'lehrer/edit/'+${lehrer.id}}" class="btn btn-primary" role="button" th:text="#{button.edit}"></a>
	            	&nbsp;
	            	<a th:href="@{'lehrer/delete/'+${lehrer.id}}" class="btn btn-danger" role="button" th:text="#{button.delete}" th:onclick="return confirm([[#{confirmation}]])"></a>
	            </td>
	        </tr>
	    </table>
	</div>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/localization.js}" type="text/javascript"></script>
</body>
</html>