<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title>Willkommen</title>
</head>
<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center my-5">
			<form class="form-signin" th:action="@{/login}" method="post">
				<h1 class="text-center">Bitte einloggen</h1>
				<div th:if="${param.error}" class="alert alert-danger shadow-lg">
					Falsch benutzername oder passwort!
	            </div>
	            <div th:if="${param.logout}" class="alert alert-success shadow-lg">
	            	Sie wurden ausgeloggt.
	            </div>
				<p><input type="text" id="username" name="username" class="form-control shadow-lg" placeholder="Benutzername" required autofocus></p>
				<p><input type="password" id="password" name="password" class="form-control shadow-lg" placeholder="Passwort" required autofocus></p>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-lg btn-block btn-primary shadow-lg">Einloggen</button>
			</form>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
</body>
</html>
