<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<div th:replace="contents/navbar.html :: navbar"></div>
	<div th:replace="contents/heading.html :: formHeading(title=${schuler.kennzeichen}, buttonLink=${null})"></div>
	<div class="table-responsive mt-5">
		<table class="table table-bordered table-striped mx-auto mb-5 w-50 shadow">
			<thead class="thead-dark">
	       		<tr>
	            	<th scope="col" th:text="#{subject}">
	            	<th scope="col" th:text="#{teacher}">
	            	<th scope="col" th:text="#{grades}">
	            	<th scope="col" th:text="#{date}">
		       	</tr>
		   	</thead>
	   		<tr th:each="noteView: ${listNoten}">
	   			<td th:text="${noteView.schulfachName}">
	   			<td th:text="${noteView.lehrerName}">
	   			<td th:text="${noteView.note}">
	   			<td th:text="${#temporals.format(noteView.noteDatum, 'dd-MMM-yyyy HH:mm:ss')}">
	   		</tr>
		</table>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/localization.js}" type="text/javascript"></script>
</body>
</html>