<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<div th:replace="contents/navbar.html :: navbar"></div>
	<div sec:authorize="hasRole('SCHULER')">
		<div th:replace="contents/heading.html :: formHeading(title=${schuler.kennzeichen}, buttonLink=${null})"></div>
		<div th:replace="contents/tabelle.html :: schulerNotenTabelle"></div>
	</div>
	<div sec:authorize="hasRole('ELTERNTEIL')">
		<div th:replace="contents/heading.html :: formHeading(title=${elternteil}, buttonLink=${null})"></div>
		<div th:replace="contents/tabelle.html :: elternteilKinderTabelle"></div>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/localization.js}" type="text/javascript"></script>
</body>
</html>