<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title th:text="#{school.diary}"></title>
</head>
<body>
	<div th:replace="contents/navbar.html :: navbar"></div>
	<div sec:authorize="hasRole('ADMIN')">
		<div th:replace="contents/pageContent.html :: pageHead(title=#{grades}, buttonLink=${null})"></div>
		<div th:replace="contents/tabelle.html :: alleNotenTabelle"></div>
	</div>
	<div sec:authorize="hasRole('SCHULER')">
		<div th:replace="contents/pageContent.html :: pageHead(title=#{title.student(${schulerViewModel.kindKennzeichen})}+', '+#{title.half.year.success(${schulerViewModel.halbjaehrigeErfolg})}, buttonLink=${null})"></div>
		<div th:replace="contents/tabelle.html :: schulerNotenTabelle"></div>
	</div>
	<div sec:authorize="hasRole('ELTERNTEIL')">
		<div th:replace="contents/pageContent.html :: pageHead(title=#{title.parent(${elternteil.kennzeichen})}, buttonLink=${null})"></div>
		<div th:replace="contents/tabelle.html :: elternteilKinderTabelle"></div>
		<div th:if="${showSchulerfolg}">
			<div th:replace="contents/modal.html :: modal(id='kindSchulerfolgModal', title=#{title.student(${kind.kennzeichen})}, content='kindSchulerErfolg')"></div>
		</div>
	</div>
	<div sec:authorize="hasRole('LEHRER')">
		<div th:replace="contents/pageContent.html :: pageHead(title=#{title.course(${schulstunde.klasse.kennzeichen}, ${schulstunde.schulfach.name})}+', '+#{title.student(${@kennzeichenUtils.menschKennzeichen(schuler)})}, buttonLink='schulstunde/'+${schulstunde.id}+'/schuler/'+${schuler.id}+'/note')"></div>
		<div th:replace="contents/tabelle.html :: schulerNotenTabelle"></div>
		<div th:if="${add}">
			<div th:replace="contents/modal.html :: modal(id='addModal', title=#{modal.add.title.grade}, content='addNote')"></div>
		</div>
		<div th:if="${edit}">
			<div th:replace="contents/modal.html :: modal(id='editModal', title=#{modal.edit.title.student.grade(${@kennzeichenUtils.menschKennzeichen(note.schuler)})}, content='editNote')"></div>
		</div>
	</div>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/1.14.3/dist/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/modalZeigen.js}" type="text/javascript"></script>
<script th:src="@{/js/lokalisierung.js}" type="text/javascript"></script>
</body>
</html>