<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="formHeading (title, buttonLink)">
		<div class="container text-center my-5">
			<h1 th:text="${title}"></h1>
			<div th:if="${buttonLink != null}">
				<a th:href="@{'/'+${buttonLink}+'/add'}" class="btn btn-success shadow-lg" role="button" th:text="#{button.add}"></a>
			</div>
		</div>
		<div class="container text-center">
			<div th:if="${successful}" class="alert alert-success shadow-lg" th:text="#{successful}"></div>
		</div>
	</div>
</body>
</html>