<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="newBenutzer">
		<label th:text="#{user.new} + '*'"></label>
		<input class="form-control w-50" th:field="*{benutzer.benutzerName}" th:placeholder="#{user.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
		<input class="form-control w-50" type="password" th:field="*{benutzer.passwort}" th:placeholder="#{user.password}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
		<input type="hidden" th:field="*{benutzer.rolle}">
	</div>
	<div th:fragment="editBenutzer">
		<form method="post" th:action="@{/benutzer/save}" th:object="${benutzer}">
			<input type="hidden" th:field="*{id}">
  			<label th:text="#{user.name} + '*'" ></label>
  			<input class="form-control w-50" type="text" th:field="*{benutzerName}" th:placeholder="#{user.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" required><br/>
  			<label th:text="#{user.password.new} + '*'"></label>
  			<input class="form-control w-50" type="password" th:field="*{passwort}" th:placeholder="#{user.password}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" required><br/>
  			<input type="hidden" th:field="*{rolle}">
  			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addSchuler">
		<form method="post" th:action="@{/schuler/save}" th:object="${schuler}">
   			<label th:text="#{name} + '*'" ></label>
   			<input class="form-control w-50" th:field="*{name}" th:placeholder="#{student.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
   			<label th:text="#{pin} + '*'"></label>
   			<input class="form-control w-50" th:field="*{pin}" th:placeholder="#{student.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
			<label th:text="#{class}"></label>
   			<select class="form-control w-50" th:field="*{klasse}">
   				<option th:text="#{no.class}" value=>
    			<option th:each="klasse :${listKlasse}" th:value="${klasse.id}" th:text="${klasse.kennzeichen}">
   			</select><br/>
   			<label th:text="#{parents} + '*'"></label>
   			<button type="button" class="btn btn-warning btn-sm" th:text="#{new}" data-toggle="modal" data-target="#addElternteilModal"></button>
   			<select class="form-control w-50" th:field="*{eltern}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" multiple required>
    			<option th:each="elternteil :${listEltern}" th:value="${elternteil.id}" th:text="${@kennzeichenUtils.personKennzeichen(elternteil)}">
   			</select><br/>
   			<div th:replace="contents/modalContent.html :: newBenutzer"></div><br/>
  			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editSchuler">
		<form method="post" th:action="@{/schuler/save}" th:object="${schuler}">
			<input type="hidden" th:field="*{id}">
   			<label th:text="#{name}" ></label>
   			<input class="form-control w-50" th:field="*{name}" th:placeholder="#{student.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
   			<label th:text="#{pin}"></label>
   			<input class="form-control w-50" th:field="*{pin}" th:placeholder="#{student.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
   			<label th:text="#{class}"></label>
   			<select class="form-control w-50" th:field="*{klasse}">
   				<option th:text="#{no.class}" value=>
    			<option th:each="klasse :${listKlasse}" th:value="${klasse.id}" th:text="${klasse.kennzeichen}">
   			</select><br/>
   			<label th:text="#{parents}"></label>
   			<button type="button" class="btn btn-warning btn-sm" th:text="#{new}" data-toggle="modal" data-target="#addElternteilModal"></button>
   			<select class="form-control w-50" th:field="*{eltern}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" multiple required>
    			<option th:each="elternteil :${listEltern}" th:value="${elternteil.id}" th:text="${@kennzeichenUtils.personKennzeichen(elternteil)}">
   			</select><br/>
   			<input type="hidden" th:field="*{benutzer}">
   			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addElternteil">
		<form method="post" th:action="@{/elternteil/save}" th:object="${elternteil}">
   			<label th:text="#{name} + '*'" ></label>
   			<input class="form-control w-75" th:field="*{name}" th:placeholder="#{parent.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
   			<label th:text="#{pin} + '*'"></label>
   			<input class="form-control w-75" th:field="*{pin}" th:placeholder="#{parent.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
   			<div th:replace="contents/modalContent.html :: newBenutzer"></div><br/>
   			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
   		</form>
	</div>
	<div th:fragment="editElternteil">
		<form method="post" th:action="@{/elternteil/save}" th:object="${elternteil}">
			<input type="hidden" th:field="*{id}">
   			<label th:text="#{name} + '*'" ></label>
   			<input class="form-control w-50" th:field="*{name}" th:placeholder="#{student.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
   			<label th:text="#{pin} + '*'"></label>
   			<input class="form-control w-50" th:field="*{pin}" th:placeholder="#{student.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
   			<input type="hidden" th:field="*{kinder}">
   			<input type="hidden" th:field="*{benutzer}">
   			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addLehrer">
		<form method="post" th:action="@{/lehrer/save}" th:object="${lehrer}">
			<label th:text="#{name} + '*'" ></label>
			<input class="form-control w-50" th:field="*{name}" th:placeholder="#{teacher.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<label th:text="#{pin} + '*'" ></label>
			<input class="form-control w-50" th:field="*{pin}" th:placeholder="#{teacher.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
			<label th:text="#{subjects}"></label>
			<select class="form-control w-50" th:field="*{schulfachSet}" multiple>
				<option th:each="schulfach :${listSchulfach}" th:value="${schulfach.id}" th:text="${schulfach.name}">
			</select><br/>
			<div th:replace="contents/modalContent.html :: newBenutzer"></div><br/>
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editLehrer">
		<form method="post" th:action="@{/lehrer/save}" th:object="${lehrer}">
			<input type="hidden" th:field="*{id}">
   			<label th:text="#{name} + '*'" ></label>
   			<input class="form-control w-50" th:field="*{name}" th:placeholder="#{teacher.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
   			<label th:text="#{pin} + '*'" ></label>
   			<input class="form-control w-50" th:field="*{pin}" th:placeholder="#{teacher.pin}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" autocomplete="off" required><br/>
   			<label th:text="#{subjects}"></label>
   			<select class="form-control w-50" th:field="*{schulfachSet}" multiple>
    			<option th:each="schulfach :${listSchulfach}" th:value="${schulfach.id}" th:text="${schulfach.name}">
   			</select><br/>
   			<input type="hidden" th:field="*{benutzer}">
  			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addSchulfach">
		<form method="post" th:action="@{/schulfach/save}" th:object="${schulfach}" class="form-inline">
   			<input type="text" class="form-control w-50" th:field="*{name}" th:placeholder="#{subject.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
   			<input type="submit" class="btn btn-success" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editSchulfach">
		<form method="post" th:action="@{/schulfach/save}" th:object="${schulfach}" class="form-inline">
			<input type="hidden" th:field="*{id}">
			<input type="text" class="form-control" th:field="*{name}" th:placeholder="#{subject.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
			<input type="submit" class="btn btn-success" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addSchulstunde">
		<form th:action="@{/schulstunde/save}" method="post" th:object="${schulstunde}">
 			<label th:text="#{class}"></label>
 			<select class="form-control w-25" th:field="*{klasse}">
  				<option th:each="klasse :${listKlasse}" th:value="${klasse.id}" th:text="${klasse.kennzeichen}">
 			</select><br/>
 			<label th:text="#{subject}"></label>
 			<select class="form-control w-50" th:field="*{schulfach}">
 				<option th:each="schulfach :${listSchulfach}" th:value="${schulfach.id}" th:text="${schulfach.name}">
 			</select><br/>
			<label th:text="#{teacher}"></label>
			<select class="form-control w-75" th:field="*{lehrer}">
				<option th:text="#{no.teacher}" value=>
				<option th:each="lehrer :${listLehrer}" th:value="${lehrer.id}" th:text="${@kennzeichenUtils.personKennzeichen(lehrer)}">
			</select><br/>
 			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editSchulstunde">
		<form th:action="@{/schulstunde/save}" method="post" th:object="${schulstunde}">
			<input type="hidden" th:field="*{id}">
			<label th:text="#{class}"></label>
			<select class="form-control w-25" th:field="*{klasse}">
				<option th:each="klasse :${listKlasse}" th:value="${klasse.id}" th:text="${klasse.kennzeichen}">
			</select><br/>
			<label th:text="#{subject}"></label>
			<select class="form-control w-50" th:field="*{schulfach}">
				<option th:each="schulfach :${listSchulfach}" th:value="${schulfach.id}" th:text="${schulfach.name}">
			</select><br/>
			<label th:text="#{teacher}"></label>
			<select class="form-control w-75" th:field="*{lehrer}">
				<option th:text="#{no.teacher}" value=>
				<option th:each="lehrer :${listLehrer}" th:value="${lehrer.id}" th:text="${@kennzeichenUtils.personKennzeichen(lehrer)}">
			</select><br/>
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addKlasse">
		<form th:action="@{/klasse/save}" method="post" th:object="${klasse}" class="form-inline">
			<input type="text" class="form-control w-25" name="klasseName" th:placeholder="#{class.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
  			<input type="submit" class="btn btn-success" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editKlasse">
		<form th:action="@{/klasse/save}" method="post" th:object="${klasse}" class="form-inline">
			<input type="hidden" th:field="*{id}">
			<input type="text" class="form-control w-25" name="klasseName" th:value="*{kennzeichen}" th:placeholder="#{class.name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required>
			<input type="submit" class="btn btn-success" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addSemester">
		<form th:action="@{/semester/save}" method="post" th:object="${semester}">
			<label th:text="#{semester.begin}"></label>
			<input type="datetime-local" class="form-control w-75" th:field="*{semesterbeginn}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<label th:text="#{semester.end}"></label>
			<input type="datetime-local" class="form-control w-75" th:field="*{semesterende}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editSemester">
		<form th:action="@{/semester/save}" method="post" th:object="${semester}">
			<input type="hidden" th:field="*{id}">
			<label th:text="#{semester.begin}"></label>
			<input type="datetime-local" class="form-control w-75" th:field="*{semesterbeginn}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<label th:text="#{semester.end}"></label>
			<input type="datetime-local" class="form-control w-75" th:field="*{semesterende}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="addNote">
		<form th:action="@{/note/save}" method="post" th:object="${note}">
			<input type="text" class="form-control w-25" th:field="*{wert}" th:value="#{grade}" th:placeholder="#{grade}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<input type="hidden" th:field="*{schuler}">
			<input type="hidden" th:field="*{schulstunde}">
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="editNote">
		<form th:action="@{/note/save}" method="post" th:object="${note}">
			<input type="hidden" th:field="*{id}">
			<input type="text" class="form-control w-25" th:field="*{wert}" th:value="#{grade}" th:placeholder="#{grade}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" oninput="this.setCustomValidity('')" required><br/>
			<input type="hidden" th:field="*{noteInsertDatum}">
			<input type="hidden" th:field="*{schuler}">
			<input type="hidden" th:field="*{schulstunde}">
			<input type="submit" class="btn btn-success btn-sm" th:value="#{button.submit}">
		</form>
	</div>
	<div th:fragment="kindSchulerErfolg">
		<div class="table-sm">
			<table class="table table-borderless">
				<tr>
		        	<th scope="col" th:text="#{subject}">
		        	<th scope="col" th:text="#{teacher}">
		        	<th scope="col" th:text="#{grade}">
		        	<th scope="col" th:text="#{date(#{insert})}">
		        	<th scope="col" th:text="#{date(#{update})}">
		    	</tr>
				<tr th:each="noteViewModel: ${listNoten}">
		  			<td th:text="${noteViewModel.schulfachName}">
		  			<td th:text="${noteViewModel.lehrerName}">
		  			<td th:text="${noteViewModel.note}">
		  			<td th:text="${noteViewModel.noteInsertDatum}">
		  			<td th:text="${noteViewModel.noteUpdateDatum}">
		  		</tr>
	  		</table>
		</div>
	</div>
</body>
</html>