<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="pageHead (title, buttonLink)">
		<div class="container text-center my-5">
			<h1 th:text="${title}"></h1>
			<div th:if="${buttonLink != null}">
				<a th:href="@{'/'+${buttonLink}+'/add'}" class="btn btn-success shadow-lg" role="button" th:text="#{button.add}"></a>
			</div>
		</div>
		<div class="container text-center">
			<div th:if="${successful}" class="alert alert-success shadow-lg" th:text="#{successful}"></div>
		</div>
	</div>
	<div th:fragment="searchForm (buttonLink)">
		<div class="container text-center mb-5">
			<form class="form-inline justify-content-center" method="get" th:action="@{'/'+${buttonLink}+'/search'}">
				<input class="form-control w-25 shadow" type="text" name="string" th:placeholder="#{name}" th:oninvalid="this.setCustomValidity([[#{required.field}]])" required="required" autofocus>
				<input class="btn btn-warning shadow" type="submit" th:value="#{button.search}">
			</form>
		</div>
	</div>
</body>
</html>